<h1 align = "center"> Group 7 Data Analysis I</h1>
<h4 align="center">Irshad Shaik</h4>
<h4 align="center">Maxwell Wong </h4>
<h4 align="center">Pavan Raj</h4>
<h4 align="center">Ramya bikkina </h4>

<h3 align="center">10/27/2022</h3>

<h1> Introduction </h1>
<p>The movie industry is experiencing a boom in recent years. A huge number of movies are released every year. The release of each movie, especially when you aren't around to see it, can be difficult to notice. Our business is to analyse past movies and to help users to find movies that interest him. Depending on the ratings of other users, one can infer exactly how good a movie is based upon the other users' opinions. This requires the creation of a proprietary prediction system based on movies released in the past that have created a lasting impression on users and their ratings.</p>

<h2>Data Source and Collection </h2>

<p>This data set is from <a href="https://grouplens.org/datasets/movielens/">MovieLens Dataset</a> This a open source data set constructed by <a herf ='https://en.wikipedia.org/wiki/MovieLens#:~:text=It%20contains%20about%2011%20million,research%20data%20on%20personalized%20recommendations.'>GroupLens Research team </a>,a research lab in the Department of Computer Science and Engineering at the University of Minnesota, in order to gather research data on personalized recommendations . This dataset is mostly recommened for research , for education and development . This dataset is gives a lot of information about movies over a period of time this can answer a lot of quiestion depends on the individuals requirement </p>


For the mentioned project we are using “MovieLens” dataset, where it will contains three main CSV files such as movies.CSV, ratings.CSV, links.CSV and tags.CSV.

<b>movies.CSV</b> contains three columns <b>movieId, Title and genres</b>. Whereas Title contains manually entered title along with the year of release in the brackets and genres contains Comma separated valued of Genres are a pipe-separated list, and are selected from the following: Action, Adventure, Animation, Children's, Comedy, Crime, Documentary, Drama, Fantasy, Film-Noir, Horror, Musical, Mystery, Romance, Sci-Fi, Thriller, War, Western or no genres listed.

<b>ratings.CSV</b> , contains four columns <b>userId, movieId, rating, timestamp</b>. Ratings are made on a 5-star scale, with half-star increments (0.5 stars - 5.0 stars) and Timestamps represent seconds since midnight Coordinated Universal Time (UTC) of January 1, 1970.

<b>link.CSV</b> contains three columns <b>movieId, imdbId, tmbdId.</b>

<b>tags.CSV</b> contains four columns <b>userId, movieId, tag, timestamp.</b> Tags are user-generated metadata about movies. Each tag is typically a short phrase. The meaning, value, and purpose of a particular tag is determined by each user. Timestamps represent seconds since midnight UTC of January 1, 1970.

Adding to this we will be scrapping imdb for content score for the respective movies , Our idea is to map the movie content score to the movie and its genres. using this data, we will be performing user analysis . There are many users who rate movies based many of their preferences . Here we will be comparing the rating with the content score to identify users giving relevant rating if the rating is positive and content rating is also positive then user is can be considered that he is trusted for genuine review and further user must be frequent reviewer 

On the basis of this dataset, human emotions have been analysed over the years on the movie. In the 80s, action movies were more popular, but in recent years, romance has taken over. Similar movies which were liked in the past have become disasters in recent years. In what ways are these movies impacting the viewers, and how are they influencing them. We will use this dataset to analyze rating over different genre movies over the years. and will predict how this like towards a genre is changing over time. To conduct analysis and address research questions, the selected dataset includes all of the necessary data.

<h3>
</p>

<h2>Literature Review</h2>

<p>MovieLens is an active research platform that has hosted many experiments since it was launched in 1997, and these datasets are primarily a result of member activity in the system. this in regards explains about the history of the movielens dataset[1]. There has been previous research done on similar scenarios. It is very common for recommender systems to use collaborative filtering (CF) in order to provide personalized recommendations to end users. The User-Item Rating Matrix is applied to CF to identify clusters of similar users. The similarity measurement method is generally used to identify this cluster of users.[2] In spite of its efficiency, collaborative filtering (CF) suffers from the well-known cold start problem, which makes it challenging to determine the preferences of new users. In order to solve this problem, we can use the Ask To Rate technique. This technique involves showing a new user some items and asking him or her to rate them. A kNN algorithm is typically used in Ask To Rate technique to select items.[3] </p>

<h2>Research Questions</h2>
<p>
1. Predict a movie rating given genre of the movie ? <br>
2. what is impact the movie rating most?<br>
3. what kind of movies are more likely to be liked by audience ? <br>
4. What are the top movies and generes and most liked by the audiacne ? <br>
5. How movie genre impacted over the years on the basis of user acceptance regarding the movie? <br>
6. Identify un biased trusted users 
</p>

<h1> Data Anaysis 1 </h1>

In [1]:
#data analysis libraries 
import numpy as np
import pandas as pd
import re

#visualization libraries
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
%matplotlib inline
#ignore warnings
import warnings
warnings.filterwarnings('ignore')

# 1. Movies data set

Reading the dataset

In [2]:
movie = pd.read_csv('./DataSets/movies.csv')
ratings = pd.read_csv("./DataSets/ratings.csv")
links = pd.read_csv("./DataSets/links.csv")

In [3]:
#take a look at the training data
print(f'Shape of movie dataset {movie.shape}')
print(f'Shape of the ratings dataset {ratings.shape}')
print(f'Shape of the links dataset {links.shape}')

Shape of movie dataset (62423, 3)
Shape of the ratings dataset (25000095, 4)
Shape of the links dataset (62423, 3)

In [4]:
print(movie.info(),'\n\n')
print(links.info(),'\n\n')
print(ratings.info(),'\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   imdbId   62423 non-null  int64
 2   tmdbId   62316 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.4 MB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB
None

In [5]:
print(movie.describe())
print(links.describe())
print(ratings.describe())

             movieId
count   62423.000000
mean   122220.387646
std     63264.744844
min         1.000000
25%     82146.500000
50%    138022.000000
75%    173222.000000
max    209171.000000
             movieId        imdbId         tmdbId
count   62423.000000  6.242300e+04   62316.000000
mean   122220.387646  1.456706e+06  155186.689999
std     63264.744844  2.098007e+06  153362.694700
min         1.000000  1.000000e+00       2.000000
25%     82146.500000  8.168650e+04   36768.750000
50%    138022.000000  3.258050e+05   86750.500000
75%    173222.000000  2.063724e+06  255255.250000
max    209171.000000  1.117094e+07  646282.000000
             userId       movieId        rating     timestamp
count  2.500010e+07  2.500010e+07  2.500010e+07  2.500010e+07
mean   8.118928e+04  2.138798e+04  3.533854e+00  1.215601e+09
std    4.679172e+04  3.919886e+04  1.060744e+00  2.268758e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    4.051000e+04  1.196000e+03  3.000000e+00  1.011747e+09
50%    8.091400e+04  2.947000e+03  3.500000e+00  1.198868e+09
75%    1.215570e+05  8.623000e+03  4.000000e+00  1.447205e+09
max    1.625410e+05  2.091710e+05  5.000000e+00  1.574328e+09

In [6]:
#get a list of the features within the dataset
print("Movie : ", movie.columns,end="\n\n")
print("Rating : ", ratings.columns,end="\n\n")
print("Links : ", links.columns,end="\n\n")

Movie :  Index(['movieId', 'title', 'genres'], dtype='object')

Rating :  Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

Links :  Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

In [7]:
print("Totoal number of Unique Movies-----",movie['title'].nunique(),'and Total number movies-----',len(movie))

Totoal number of Unique Movies----- 62325 and Total number movies----- 62423

In [8]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [10]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

<h2> Data Manipulation </h2>

Extracting year from movie name

In [11]:
movie['year'] = movie['title'].str.extract('.*\((.*)\).*',expand = False)

Extracting genres or splitting them up and assigning value 1 if movie relates to that genre

In [12]:
genre_dat = movie['genres'].str.get_dummies('|')
genre_dat

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62418,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
62419,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
62420,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
62421,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
62422,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

concating both the movies and genres to make a single data

In [13]:
mov_dat2 = pd.concat([movie, genre_dat], axis=1).drop(['genres'], axis=1)
mov_dat2

,movieId,title,year,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1995,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),1995,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),1995,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),1995,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),1995,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62418,209157,We (2018),2018,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62419,209159,Window of the Soul (2001),2001,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62420,209163,Bad Poems (2018),2018,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
62421,209169,A Girl Thing (2001),2001,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62422,209171,Women of Devil's Island (1962),1962,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<p> <b>df</b> will be the final data frame user for futher analysis

In [14]:
df = mov_dat2.merge(ratings,on = 'movieId',how = 'inner') 
len(df)

25000095

In [15]:
df.sample(25)  # This data set would further modified in futher analysis

,movieId,title,year,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,userId,rating,timestamp
14836875,4025,Miss Congeniality (2000),2000,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,67718,5.0,1477786045
23051322,94777,Men in Black III (M.III.B.) (M.I.B.³) (2012),2012,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,53477,4.0,1567064224
18335810,7361,Eternal Sunshine of the Spotless Mind (2004),2004,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,120141,5.0,1164933527
9297869,1917,Armageddon (1998),1998,0,1,0,0,0,0,0,...,0,0,1,1,1,0,0,49311,3.0,967171462
4909943,852,Tin Cup (1996),1996,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,78193,3.0,962210517
15911076,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,2001,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,157520,5.0,1509294459
12090468,2770,Bowfinger (1999),1999,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,95805,4.0,955992526
8480416,1597,Conspiracy Theory (1997),1997,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0,52849,4.5,1256794333
11835638,2707,Arlington Road (1999),1999,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,134466,3.0,1226426372
10106949,2110,Dead Men Don't Wear Plaid (1982),1982,0,0,0,0,0,1,1,...,0,0,0,0,1,0,0,5064,3.0,1132773956
13497198,3384,"Taking of Pelham One Two Three, The (1974)",1974,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,92717,3.0,1010286585
22945057,91542,Sherlock Holmes: A Game of Shadows (2011),2011,0,1,1,0,0,1,1,...,0,1,0,0,1,0,0,121375,4.5,1472315801
15346203,4367,Lara Croft: Tomb Raider (2001),2001,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,57103,2.5,1069890731
2544991,356,Forrest Gump (1994),1994,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,156751,4.5,1446244716
16509703,5388,Insomnia (2002),2002,0,1,0,0,0,0,1,...,0,1,0,0,1,0,0,56027,3.0,1113121603
383854,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),1995,0,0,0,0,0,0,0,...,0,1,0,1,1,0,0,61461,4.5,1332009411
14781311,4018,What Women Want (2000),2000,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,25300,3.5,1518919118
822536,104,Happy Gilmore (1996),1996,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,126184,2.0,879463722
4632969,765,Jack (1996),1996,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,100587,3.0,1526670784
3581118,538,Six Degrees of Separation (1993),1993,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,140091,5.0,967956013
2206934,318,"Shawshank Redemption, The (1994)",1994,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,147067,5.0,833538266
9952900,2067,Doctor Zhivago (1965),1965,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,116363,4.5,1159022360
3129880,457,"Fugitive, The (1993)",1993,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,156518,3.5,1190152162
38746,1,Toy Story (1995),1995,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,109936,1.5,1239852974
2986187,437,Cops and Robbersons (1994),1994,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,18447,3.0,840829174

In [16]:
df.isnull().T

,0,1,2,3,4,5,6,7,8,9,...,25000085,25000086,25000087,25000088,25000089,25000090,25000091,25000092,25000093,25000094
movieId,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
title,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
year,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
(no genres listed),False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Action,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Adventure,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Animation,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Children,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Comedy,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Crime,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Documentary,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Drama,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Fantasy,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Film-Noir,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Horror,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
IMAX,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Musical,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Mystery,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Romance,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Sci-Fi,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Thriller,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
War,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Western,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
userId,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
rating,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
timestamp,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.dropna(inplace=True)

In [ ]:
# Droping the timestamp column from ratings and tags file
# df.drop(columns='timestamp',inplace=True)

<h2> Data summarization and visualization </h2>

In [ ]:
genre_dat.sum().plot(kind="pie", autopct='%.2f', startangle=90, fontsize=12, figsize=(30,20))
plt.ylabel("")
plt.show()

In [ ]:
movies_df_exploded = movie[:]
movies_df_exploded['genres'] = movies_df_exploded['genres'].apply(lambda x: x.split('|'))
movies_df_exploded = movies_df_exploded.explode('genres')
px.histogram(movies_df_exploded, x='genres', height=400, title='Movie count by genre').update_xaxes(categoryorder="total descending")

In [ ]:
#Extracting the year from the Title
movie['Year'] = movie['title'].str.extract('.*\((.*)\).*',expand = False)
px.histogram(movie, x='Year', height=400, title='Movie count by year').update_xaxes(categoryorder="total descending")

In [ ]:
#Ploting a Graph with No.of Movies each Year corresponding to its Year
plt.plot(movie.groupby('Year').title.count())
plt.show()
a=movie.groupby('Year').title.count()
print('Max No.of Movies Relesed =',a.max())
for i in a.index:
    if a[i] == a.max():
        print('Year =',i)
a.describe()

In [ ]:
# Most number of movies by genre
x = {}
for i in mov_dat2.columns[4:23]:
    x[i]=mov_dat2[i].value_counts()[1]
    print("{}    \t\t\t\t{}".format(i,x[i]))

plt.bar(height=x.values(),x=x.keys(), )
plt.xticks(rotation=70)
plt.show()

In [ ]:
#Add a Column `rating` in movie DF and assign them with the Mean Movie Rating for that Movie.
x=ratings.groupby('movieId').rating.mean()
movie = pd.merge(movie, x, how='outer', on='movieId')
movie['rating'].fillna('0',inplace=True)

In [ ]:
# Now Lets group all the ratings with respect to movieId and count the no of Users
x = ratings.groupby('movieId',as_index=False).userId.count()
x.sort_values('userId',ascending=False,inplace=True)
y = pd.merge(movie,  x, how='outer',on='movieId')
y.sort_values(['userId','rating'],ascending=False)

In [ ]:
# return number of rows associated to each title
top_ten_movies = df.groupby("title").size().sort_values(ascending=False)[:10]

# plot the counts
plt.figure(figsize=(12, 5))
plt.barh(y= top_ten_movies.index,
         width= top_ten_movies.values)
plt.title("10 Most Rated Movies in the Data", fontsize=16)
plt.ylabel("Moive", fontsize=14)
plt.xlabel("Count", fontsize=14)
plt.show()

The movie with the highest rating in our dataset was Forrest Gump (1994). This data is so useful that we can choose to promote the highest rated films in our collection to new users in order to solve the Cold start issue. We can delve deeper into our data from this question and start to consider what kinds of genres are connected to the highest rated movies; in this example, we only considered those connected to Forrest Gump.

In [ ]:
movies_rated = ratings.groupby("userId").size().sort_values(ascending=False)
print(f"Max movies rated by one user: {max(movies_rated)}\nMin movies rated by one user: {min(movies_rated)}")
ratings.userId.value_counts().plot.box(figsize=(20, 40))
plt.title("Number of Movies rated by a Single user", fontsize=16)
plt.show()

The maximum number of movies rated by a single user in the dataset is 32000 — whoever that is, is a very loyal movie watcher and rater — and the median number of movies rated by someone is 70. There are plenty of outliers that have rated more than 320 movies which is what I am approximating to be the extreme value from the plot above.

In [ ]:
genres= ['Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

# https://github.com/HarilalOP/movielens-data-exploration/blob/master/src/main/code/exploratory_analysis.ipynb
df_temp = df[['movieId','rating']].groupby('movieId').mean()
# Histogram of all ratings
df_temp.hist(bins=25, grid=False, edgecolor='b', density=True, label ='Overall', figsize=(15,8))
# KDE plot per genre
for genre in genres:
    df_temp = df[df[genre]==True][['movieId','rating']].groupby('movieId').mean()
    df_temp.rating.plot(grid=True, alpha=0.9, kind='kde', label=genre)
plt.legend()
plt.xlim(0,5)
plt.xlabel('Rating')
plt.title('Rating Density plot')
plt.show()

The majority of plots in most genres lean to the left; this may be because viewers are more likely to provide positive reviews to films they enjoy, as viewers won't stay to watch a film they don't like. If this is the case in our situation, we would need to do some study.

Okay, so the previous plot was trickier. By focusing more intently on the users, we can once more make things simple.

## Web Scarping 

We are trying scrape content score from movie database and map it with the movies and perform user analysis to identify Trusted users

In [ ]:
# Import required modules

import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [ ]:
# Use back slash to break a statement into multiple lines

url_temp = 'https://www.themoviedb.org/movie/{movieId}/'
movie_web = pd.DataFrame({'movieId': movie.movieId})
# Add PageURL column
movie_web['PageURL'] = [url_temp.format(movieId = movie_web.movieId[i]) for i in range(0,len(movie_web))]
movie_web.head()

In [ ]:
# Create a new column to store HTML files

movie_web['HTML'] = [requests.get(movie_web.loc[i,'PageURL']).content for i in range(0,len(movie_web))]

movie_web

In [ ]:
movie_web['Content_score'] = [BeautifulSoup(movie_web.loc[i,'HTML'],'html.parser')
                              .find(lambda tag: tag.name == 'div' and tag.get('class') == ['content_score'])
                              .find(lambda tag: tag.name == 'p').text for i in range(0,len(movie_web))]

In [ ]:
movie_web.to_csv('content_score.csv')